<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true" />

  <!-- Publish the robot -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <param name="robot_description" value="robot_description"/>
    <param name="publish_frequency" type="double" value="100.0" />
  </node>
  
  <!-- Publish the joint states -->
  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> 
</launch>
