<?xml version="1.0"?>
<launch>
  <arg name="world_name" default="worlds/empty.world"/>
  <arg name="x" default ="0.0" />
  <arg name="y" default ="0.0" />
  <arg name="z" default="0.0" />
  <arg name="roll" default="0.0" />
  <arg name="pitch" default="0.0" />
  <arg name="yaw" default="0.0" />  

  <!-- Launch arm in gazebo -->
  <include file="$(find ur5_picknplace)/launch/gazebo/spawn_gripper_arm.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="x" value="$(arg x)" />
    <arg name="y" value="$(arg y)" />
    <arg name="z" value="$(arg z)" />
    <arg name="roll" value="$(arg roll)" />
    <arg name="pitch" value="$(arg pitch)" />
    <arg name="yaw" value="$(arg yaw)" />
  </include>

  <!-- Launch rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ur5_picknplace)/rviz/urdf.rviz" required="true" />
</launch>