<?xml version="1.0"?>
<launch>

  <!-- send robot urdf to param server -->
  <!-- push robot_description to factory and spawn robot in gazebo world -->
  <!-- start gazebo controlllers (joint_state_publisher, robot_publisher and arm related controllers)-->
  <!-- Launch moveit planning context execution -->
  <!-- Load kinematics -->
  <!-- Launch rviz -->
  <include file="$(find ur5_robotiq_85_simulation)/launch/simulation.launch">
    <arg name="world_name" value="$(find ur5_picknplace)/worlds/ur5_cubes.world"/>
  </include>

</launch>
